@import 'Header';
@import 'Categories';
@import 'PostForm';
@import 'Posts';
@import 'Footer';

:root {
  --font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --primary-300: yellowgreen;
  --primary-500: olivedrab;
  --primary-700: olive;
  --accent-1-300: lightsalmon;
  --accent-1-500: red;
  --accent-1-700: darkred;
  --neutral-100: hsl(0, 0%, 96%);
  --neutral-200: hsl(0, 0%, 85%);
  --neutral-300: hsl(0, 0%, 75%);
  --neutral-400: hsl(0, 0%, 64%);
  --neutral-500: hsl(0, 0%, 54%);
  --neutral-600: hsl(0, 0%, 43%);
  --neutral-700: hsl(0, 0%, 33%);
  --neutral-800: hsl(0, 0%, 22%);
  --neutral-900: hsl(0, 0%, 12%);
}

body {
  font-family: var(--font-stack);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--neutral-900);
  background-color: var(--neutral-100);
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--accent-1-500);

}

a:hover {
  text-decoration: underline;
  color: var(--accent-1-300);
}

h2 {
  margin: 0.42em 0 0.63em 0;
}

select {
  margin-left: 0.33em;
}

#App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: 1;
    margin-bottom: 0.42em;
  }
}