@import 'Header';
@import 'Categories';
@import 'PostForm';
@import 'Posts';
@import 'Footer';

body {
  font-family: var(--font-stack);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-body);
  background-color: var(--background-body);
  width: 100%;
}

h2 {
  margin: 0.42em 0 0.63em 0;
}

a {
  text-decoration: none;
  color: var(--primary-anchor);
}

a:hover {
  text-decoration: underline;
  color: var(--primary-anchor-hover);
}

button {
  border: none;
  border-radius: 0.33em;
  margin: 0.33em 0;
  padding: 0.63em 0.42em;
  color: var(--font-button);
  background-color: var(--primary-button);
}

button:active {
  transform: translateY(1px);
}

select {
  margin-left: 0.33em;
}

#App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: 1;
    margin-bottom: 0.42em;
  }
}