.Categories {
  .category {
    margin: 1em 0 1.63em 0;
    text-align: center;

    .banner {
      img {
        max-width: 100%;
        height: auto;
        border: 1px solid var(--background-border);
        filter: var(--image-filter);
      }
    }

    h3 {
      margin: 0.33em 0;
    }
  }
}

// ====== Desktop
@media (min-width: 1024px) {
  .Categories {
    max-width: 75vw;
  }
}