.Header {
  border-bottom: 1px solid var(--background-border);
  
  .header-navigation {
    padding: 0.42em 0.33em;
    background-color: var(--background-header);
    display: flex;
    flex-direction: column;

    a {
      margin-left: 0.81em;
    }

    div:nth-of-type(1) {
      margin-bottom: 0.42em;
    }

    div:nth-of-type(2) {
      align-self: flex-end;
    }
  }
  
  .header-content{
    text-align: center;
    margin: 0.42em 0;

    .banner {
      img {
        max-width: 100%;
        height: auto;
        border: 1px solid var(--background-border);
        filter: var(--image-filter);
      }
    }

    h1 {
      margin: 0.63em 0;

      a {
        text-decoration: none;
        color: var(--font-body);
      }

      a:hover {
        color: var(--font-body);
      }
    }
  
    span {
      color: var(--font-body-subtitle);
    }
  }
}

// ====== Tablet
@media screen and (min-width: 480px) {
  .Header {
    .header-navigation {
      flex-direction: row;
      justify-content: space-between;

      div:nth-of-type(1) {
        margin-bottom: 0;
      }
  
      div:nth-of-type(2) {
        align-self: center;
      }
    }
  }
}