.post-card {
  border: 1px solid var(--neutral-900);
  padding: 1em;
  margin: 0 0 1em 0;

  .post-header {
    display: flex;
    justify-content: space-between;

    .post-number {
      align-self: center;
      margin: 0;
      font-size: 1em;
    }

    .post-info-container {
      display: flex;
      flex-direction: column;
      color: var(--neutral-700);
      font-size: 0.81em;
      text-align: right;
    }
  }

  .post-content {
    font-family: var(--font-stack);
    white-space: pre-wrap;
  }

  .expand {
    text-decoration: none;
    color: var(--primary-500);
  }

  .expand:hover {
    text-decoration: underline;
    color: var(--primary-300);
  }
}