.expanded {
  padding-bottom: 6.3em;
}

#posts {
  margin: 0 0.33em;

  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0.42em;
  }

  .post-card {
    margin-bottom: 0.42em;
    background-color: var(--background-card);
    
    .post-header {
      padding: 0.42em 0.63em;
      display: flex;
      justify-content: space-between;
      color: var(--font-body-subtitle);
      
      .post-number {
        margin: 0;
        font-weight: normal;
        font-size: 1em;
      }
    }
  
    .post-content-container {
      padding: 0.81em 1em;
      background-color: var(--background-content);
      
      .post-content {
        margin: 0;
        font-family: var(--font-stack);
        white-space: pre-wrap;
      }
    }
  
    .post-footer {
      padding: 0.42em 0.63em;
      display: flex;
      justify-content: space-between;

      time {
        color: var(--font-body-subtitle);
      }
    }
  }

  #posts-navigation {
    margin: 0.42em 0;

    a {
      margin-right: 0.81em;
    }
  }
}