.expanded {
  padding-bottom: 6.3em;
}

#posts {
  margin: 0 0.33em;

  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0.42em;
  }

  .post-card {
    margin-bottom: 0.42em;
    background-color: var(--background-card);
    
    .post-header {
      padding: 0.42em 0.63em;
      display: flex;
      justify-content: space-between;
      color: var(--font-body-subtitle);
      
      .post-number {
        margin: 0;
        font-weight: bold;
        font-size: 1em;
        color: var(--secondary);
      }
    }
  
    .post-content-container {
      padding: 0.81em 1em;
      background-color: var(--background-content);
      
      .post-content {
        margin: 0;
        font-family: var(--font-stack);
        white-space: pre-wrap;
      }
    }
  
    .post-footer {
      padding: 0.42em 0.63em;
      display: flex;
      justify-content: space-between;

      time {
        color: var(--font-body-subtitle);
      }
    }
  }

  #posts-navigation {
    margin: 0.42em 0;

    a {
      margin-right: 0.81em;
    }
  }

}

#sidebar {
  display: none;
}

// ====== Tablet
@media (min-width: 480px) {
  #posts {
    .post-card {
      max-width: 75vw;
    }
  }
}

// ====== Desktop
@media (min-width: 1024px) {
  #main {
    display: grid;
    grid-template-areas: 
      'posts sidebar';
    gap: 1em;
    grid-template-columns: 2fr 2fr;
    
    #sidebar {
      display: block;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      height: fit-content;
      margin: 0 1em 0 0;

      .button-container {
        margin-top: 1.63em;
      }

      #posts-navigation {
        margin: 0.42em 0;

        a {
          margin-right: 0.81em;
        }
      }
    }
  }

  .expanded {
    padding-bottom: 0;
  }

  .mobile {
    display: none;
  }
  
  #posts {
    margin: 0 0 0 1em;
    
    .mobile {
      display: none;
    }

    .post-card {
      border: 1px solid var(--background-border);
    }
  }
}