#form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0.42em;
  
  .form {
    position: fixed;
    bottom: 0;
    padding: 0.63em 0;
    width: 100%;
    max-width: 100vw;
    background: var(--background-body);
    border-top: 1px solid var(--background-border);
    display: flex;

    textarea {
      resize: vertical;
    }

    .form-group {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0.33em;

      .input-group label {
        display: flex;
        flex-direction: column;
      }
    }

    .button-group {
      display: flex;
      flex-direction: column;
      padding: 0 0.33em;

      button {
        flex: 1;
      }

      button:disabled {
        color: var(--font-button-disabled);
        background-color: var(--primary-button-disabled);
        cursor: default;
      }
    }
  }
}

// ====== Desktop
@media (min-width: 1024px) {
  #form-container {
    justify-content: flex-start;

    .form {
      position: initial;
      padding: 0.42em;
      width: 60%;
      background: var(--background-card);
      border: 1px solid var(--background-border);
      flex-direction: column;

      .button-group {
        flex-direction: row;
        justify-content: flex-end;

        button {
          flex: none;
          margin-left: 1em;
        }
      }
    }
  }
}